<!--已完成订单-->
<div class="text">
    <small>订单号：</small><strong class="text01">20180211284311</strong>
    <small class="text02">订单状态：</small><strong class="text01">已完成</strong><br>
    <small>收货地址：</small><strong>河南省郑州市白沙园区前程北路8号</strong><br>
    <small>收件人：</small><strong>王牛牛</strong><br>
    <small>电话：</small><strong>15638888888</strong><br>
    <small>物流信息：</small><strong>圆通快递12678978</strong>
    <table class="table table-striped">
        <tr>
            <th class="table_img">购买信息</th>
            <th>金额</th>
            <th>数量</th>
            <th>小计</th>
            <th>评价</th>
        </tr>
        <tr>
            <td>
                <img class="table_img" src="/images/54654654.jpg">
                <div  class="table_img">
                    <strong>天下微商</strong>
                    <br>
                    <small>冯仑</small>
                </div>
            </td>
            <td>￥24.00</td>
            <td>1</td>
            <td>￥24.00</td>
            <td><button class="btn btn-danger" data-toggle="modal" data-target="#myModal">评价</button></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <small>商品金额总计：</small><strong class="text01">3.00￥</strong><br>
                <small>应付金额：</small><strong class="text01">3.00￥</strong>
            </td>
            <td></td>
        </tr>
    </table>
    <a href="#" class="text03">返回 》》</a>
</div>
<!--评价框-->
<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">评价</h4>
            </div>
            <from>
                <div class="modal-body text-center">
                    <span>评分：</span>
                    <img src="images/star-on-big.png">
                    <img src="images/star-on-big.png">
                    <img src="images/star-on-big.png">
                    <img src="images/star-on-big.png">
                    <img src="images/star-on-big.png"><br>
                    <textarea name="" id="text_a" cols="60" rows="10"></textarea>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-danger">发布评价</button>
                </div>
            </from>
        </div>
    </div>
</div>