<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线书城登录页</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">
    <!--bootstrap官方样式-->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <!--强跨浏览器表现的一致性css 重置样式-->
    <link rel="stylesheet" href="/stylesheets/login.css">
    <!--自用样式-->
</head>
<body>
<!-- 主体 -->
<section class="container login" style="width: 950px;">
    <div style="border-bottom: 1px solid #bebcc1; height:60px;width:890px;">
        <span class="heading" id="login">登录<a href="/users/login">用户登录</a></span>
    </div>

    <hr>
    <div class="col-md-5 col-md-offset-1">
        <form class="form-horizontal" action="/admin/login" method="post">

            <div class="form-group">
                <input type="text" class="form-control" id="email" placeholder="请输入邮箱" name="email">
            </div>
            <div class="form-group help">
                <input type="password" class="form-control" id="password" placeholder="请输入密码" name="password">
                <a href="#" class="fa fa-question-circle"></a> </div>
            <div class="form-group">
                <div class="main-checkbox">
                    <!--<input type="checkbox" value="None" id="checkbox1" name="check"/>-->
                    <!--<label for="checkbox1"></label>-->
                    <!--<span class="text">记住密码</span>-->
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-danger">管理员登录</button>
            </div>
        </form>
    </div>
    <div class="col-md-4 col-md-offset-1"
         id="img"><img src="/images/lietu.jpg" class="img-responsive"></div>
</section>
<div id="btn">
    <span>copyright:All Right 京公网安备号：000000000000 ICP备11010220号-1 京ICP证110513号</span>
</div>

<script src="/javascripts/jquery-3.2.1.min.js"></script><!--jquery-->
<script src="/bootstrap-3.3.7/js/bootstrap.js"></script><!--bootstrap官方js-->
<script src="/javascripts/layer/layer.js"></script>
<script>
    $(function(){
        var err='<%=locals.error%>';
        if(err){
            layer.msg(err);
        }
    })
</script>
</body>
</html>