<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>确认支付</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">
    <!--bootstrap官方样式-->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <!--强跨浏览器表现的一致性css 重置样式-->
    <link rel="stylesheet" href="/stylesheets/bookstore.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/firm.css">
    <!--自用样式-->
</head>
<body>
<!--头部-->
<%-include('navbar')%>
<!--路径导航-->
<div class="container">
    <ol class="breadcrumb" style="background: rgba(212,212,212,0.5)">
        <li><a href="/">首页</a></li>
        <li><a href="/balance">确认收货地址</a></li>
        <li class="active">确认支付</li>
    </ol>
</div>
<!--内容-->
<div id="content">
    <div class="w">
        <div id="one">
            <div class="fl">
                <table class="table">
                    <tr>
                        <td>订单号：</td>
                        <td>23123423423</td>
                        <td>付款状态：</td>
                        <td>待付款</td>
                    </tr>
                    <tr>
                        <td>收货地址：</td>
                        <td>河南省郑州市</td>
                    </tr>
                    <tr>
                        <td>收件人：</td>
                        <td>王牛牛</td>
                    </tr>
                    <tr>
                        <td>电话：</td>
                        <td>1321334234</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--表格-->
        <div id="two">
            <div class="container-fluid">
                <table class="table table-striped">
                    <tr>
                        <td>购买信息</td>
                        <td></td>
                        <td>单价</td>
                        <td>数量</td>
                        <td>小计</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="./images/54654654.jpg" alt="">
                            <h5>小道德方寸之间</h5>
                        </td>
                        <td></td>
                        <td>￥0.00</td>
                        <td>
                            1
                        </td>
                        <td>￥0.00</td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>共3本，合计3.00元</td>
                    </tr>
                </table>
                <div class="fr">
                    <a href="/shopping/pay" class="btn btn-danger">确认支付</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--底部-->
<%-include('footer')%>
</body>
<script src="/javascripts/jquery-3.2.1.min.js"></script><!--jquery-->
<script src="/bootstrap-3.3.7/js/bootstrap.js"></script><!--bootstrap官方js-->
</html>