<!--排行榜-->
 <ul id="myTab" class="nav nav-tabs nav-justified">
    <li class="active"><a href="#home" data-toggle="tab">畅销榜</a></li>
    <li><a href="#ios" data-toggle="tab">新书榜</a></li>
</ul>
<div id="myTabContent" class="tab-content table-p">
    <div class="tab-pane fade in active" id="home">
        <table class="table table-striped">
            <tr>
                <td>01</td>
                <td>西游记</td>
                <td class="text-danger">￥14.00</td>
            </tr>
            <tr>
                <td></td>
                <td><span class="text-info">吴承恩</span></td>
                <td></td>
            </tr>
            <tr>
                <td>02</td>
                <td>西游记</td>
                <td class="text-danger">￥14.00</td>
            </tr>
            <tr>
                <td></td>
                <td><span class="text-info">吴承恩</span></td>
                <td></td>
            </tr>
            <tr>
                <td>03</td>
                <td>西游记</td>
                <td class="text-danger">￥14.00</td>
            </tr>
            <tr>
                <td></td>
                <td><span class="text-info">吴承恩</span></td>
                <td></td>
            </tr>
            <tr>
                <td>04</td>
                <td>西游记</td>
                <td class="text-danger">￥14.00</td>
            </tr>
            <tr>
                <td></td>
                <td><span class="text-info">吴承恩</span></td>
                <td></td>
            </tr>
            <tr>
                <td>05</td>
                <td>西游记</td>
                <td class="text-danger">￥14.00</td>
            </tr>
            <tr>
                <td></td>
                <td><span class="text-info">吴承恩</span></td>
                <td></td>
            </tr>
        </table>
        <div class="text-right">
            <a href="/recommend">查看完整榜单&raquo;</a>
        </div>
    </div>
    <div class="tab-pane fade" id="ios">
        <table class="table table-striped">
            <tr>
                <td>01</td>
                <td>红楼梦</td>
                <td class="text-danger">￥14.00</td>
            </tr>
            <tr>
                <td></td>
                <td class="text-info">曹雪芹</td>
                <td></td>
            </tr>
            <tr>
                <td>02</td>
                <td>红楼梦</td>
                <td class="text-danger">￥14.00</td>
            </tr>
            <tr>
                <td></td>
                <td class="text-info">曹雪芹</td>
                <td></td>
            </tr>
            <tr>
                <td>03</td>
                <td>红楼梦</td>
                <td class="text-danger">￥14.00</td>
            </tr>
            <tr>
                <td></td>
                <td class="text-info">曹雪芹</td>
                <td></td>
            </tr>
            <tr>
                <td>04</td>
                <td>红楼梦</td>
                <td class="text-danger">￥14.00</td>
            </tr>
            <tr>
                <td></td>
                <td class="text-info">曹雪芹</td>
                <td></td>
            </tr>
            <tr>
                <td>05</td>
                <td>红楼梦</td>
                <td class="text-danger">￥14.00</td>
            </tr>
            <tr>
                <td></td>
                <td class="text-info">曹雪芹</td>
                <td></td>
            </tr>
        </table>
        <div class="text-right">
            <a href="/newBooks">查看完整榜单&raquo;</a>
        </div>
    </div>
</div>
