.w img{
    float: left;
    height:40px;
    width: auto;
}
.w ul{
    float:left;
}
.w ul li{
    float:left;
    width:100px;
    text-align: center;
}
#content{
    clear: both;
    height: 700px;
}
#content #one{
    position: relative;
    height: 50px;
    width: 100%;
}
#content #two {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}
#content #three {
    height: 80px;
    width: 100%;
}

.table tr td{
    vertical-align: middle;
    text-align: center;
}
.table tr td img{
    padding-left:50px;
}
.table tr:nth-child(n+2) td{
    height:150px;
    vertical-align: middle;

}
.table tr:nth-child(n+2) td img{
    height: 100px;
    width: auto;
}
.table td .input-group{
    width: 60px;
}
.table td .input-group input{
    width: 50px;
}