#content{
    clear: both;
    height: 700px;
    margin-bottom: 20px;
}
.table tr th{
    vertical-align: middle;
}
.table tr td{
    vertical-align: middle;
}

.table tr:nth-child(n+1) td{
    height:100px;
    vertical-align: middle;

}
.table tr:nth-child(1) td{
    height:50px;
    vertical-align: middle;

}
.table tr:nth-child(n) td img{
    height: 100px;
    width: auto;
}
.table td .input-group{
    width: 60px;
}
.table td .input-group input{
    width: 50px;
}
.input01{
    width: 50px;
}
.Ocheck{
    width: 70px;
}