#content{
    clear: both;
    height: 700px;
    margin-bottom: 20px;
}
.table tr th{
    height:auto;
    text-align: center;
}
.table tr td{
    height:auto;
    text-align: center;
}
.table tr td img {
    width: 80px;
    height: auto;
    margin-left: -50px;
}
.input01{
    width: 50px;
}
.Ocheck{
    width: 70px;
}